body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #111;
    color: #fff;
}

h1{
    margin-bottom: 5px;
}

canvas{
    background: #000;
    border: 3px solid #0f0;
    margin-top: 10px;
}

.controls {
    margin: 10px 0;
}

button {
    padding: 8px 16px;
    margin: 0 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#startBtn {
    background: green;
    color: white;
}

#pauseBtn {
    background: orange;
    color: black;
}

#restartBtn {
    background: red;
    color: white;
}

