body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #111;
    color: #fff;
}

h1{
    margin-bottom: 5px;
}

canvas{
    background: #000;
    border: 3px solid #0f0;
    margin-top: 10px;
}